.search-form-container {
    display: flex;
    justify-content: center;
    margin-top: 3rem; 
    margin-bottom: 1.5rem;
  }
  
  .search-form {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    justify-content: center;
  }