<div class="search-form-container">
    <div class="search-form">
      <mat-form-field appearance="outline">
        <mat-label>Select column</mat-label>
        <mat-select [(ngModel)]="selectedColumn">
          <mat-option value="" disabled>Select column</mat-option>
          <mat-option *ngFor="let col of columns" [value]="col">{{ col }}</mat-option>
        </mat-select>
      </mat-form-field>
  
      <mat-form-field appearance="outline">
        <mat-label>Search</mat-label>
        <input matInput type="text" [(ngModel)]="searchText" />
      </mat-form-field>
  
      <button mat-raised-button color="primary" (click)="onSearch()">
        Search
      </button>
  
      <button mat-raised-button color="accent" (click)="onReset()">
        Reset
      </button>
    </div>
  </div>
  